body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    padding: 20px;  
}

h1 {
    text-align: center;
}

.form-section, .dashboard-section, .cart-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    display: block;
    cursor: pointer;
    margin-top: 10px;
}


#product-dashboard, #cart{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product, .cart-item  {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.product img, .cart-item img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}
